* {
    box-sizing: border-box;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.33%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
}

.center {
    text-align: center;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Lato", sans-serif
}

#header-wrapper {
    overflow: hidden;
    margin: 0px;
    height: 300px;
    color: #FFF;
    /*background-image: url("img/banner.png");*/
}

#menu-wrapper {
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: #FFF;
}

#footer-wrapper {
    padding: 0.01em 16px;
    background: #222222;
}

#footer {
    padding-top: 0.9em;
    font-size: 0.9em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2em;
    font-weight: 600;
    color: #FFF;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.nav-wrapper {
    min-height: 50px;
}